@import "./././sass/abstracts/variables-et-mixins";

.blog {
	@include bleed;
	margin-bottom:var(--margin-y);

	.titre-section {
		@include titre-accueil;
		position:relative;
	}

	.loop {
		padding-top: 0;
	}
	//Carrousel en mobile
	.owl-carousel {
		
	}

	//Si on redimensionne l'écran sans rafraichir la page, le carrousel reste actif même en écran large -> limiter la taille des slides
	.vignette {
		margin: 0 auto;
		max-width: 46rem;

	}

	a.bouton:not(.pdf) {
		margin:2rem auto;
	}

	.owl-nav {
		--size:4.3rem;
		--marge:-2rem;
		display: flex;
		justify-content: space-between;
		left:0;
		position:absolute;
		top:300px;
		width:100%;

		button {
			background-color:transparent;
			border:none;
			margin:0px;
			min-width:unset;
			padding:0;
			position:relative;

			
			span {
				background-image:url('angle-cercle.png');
				@media screen and (min-width:500px) {
					background-image:url('angle.svg');
				}
				background-size:contain;
				background-repeat: no-repeat;
				background-position: center;
				color:transparent;
				display: block;
				height:var(--size);
				width:var(--size);
			}
			&.owl-prev {
				left:calc(-1 * var(--marge));
				transform:rotateZ(180deg);
			}
			&.owl-next {
				left:var(--marge);
				
			}
		}
	}

} 