@import "./././sass/abstracts/variables-et-mixins";

.colonnes-decor {
	--gap:2rem;
	--p:1.5rem;
	--p2:calc(-1*var(--p));
	margin-bottom: var(--margin-y);

	.col-texte {
		margin-bottom: 3rem;
	}
	.col-image {
		padding:var(--p);
	}
	.image {
		aspect-ratio: 1;
		margin:0 auto;
		max-width:400px;
		position: relative;
		width:100%;
		img {
			height:100%;
			object-fit: cover;
			position: relative;
			width:100%;
			z-index: 1;
		}

		&::before, &::after {
			background-color: var(--orange-cadre);
			content:'';
			display: block;
			height: 69%;
			left:var(--p2);
			position: absolute;
			top:var(--p2);
			width:73%;
		}

		&::after {
			bottom:var(--p2);
			height:70%;
			left:unset;
			right:var(--p2);
			top:unset;
			width:20%;
		}
	}

	@media screen and (max-width:767px) {
		&.inverser-mobile {
			display: flex;
			flex-direction: column-reverse;
			.col-texte {
				margin-bottom: 0;
			}
			.col-image {
				margin-bottom: 3rem;
			}
		}
	}
	
	@include bp(md) {
		column-gap:var(--gap);
		display: grid;
		grid-template-columns: 1fr 1fr;
		.col-texte {
			margin-bottom: 0;
		}
		.col-image {
			margin-top: calc(-1 * var(--hauteur-h1));
		}
	}

	@include bp(lg) {
		--p:2rem;
		--gap:4.3rem;
		.col-image {
			margin-left:0;
			margin-right: var(--p2);
			max-width:unset;
		}
	}
	@include bp(xl) {
		
	}
}