.colonnes-decor {
  --gap:2rem;
  --p:1.5rem;
  --p2:calc(-1*var(--p));
  margin-bottom: var(--margin-y);
}
.colonnes-decor .col-texte {
  margin-bottom: 3rem;
}
.colonnes-decor .col-image {
  padding: var(--p);
}
.colonnes-decor .image {
  aspect-ratio: 1;
  margin: 0 auto;
  max-width: 400px;
  position: relative;
  width: 100%;
}
.colonnes-decor .image img {
  height: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  z-index: 1;
}
.colonnes-decor .image::before, .colonnes-decor .image::after {
  background-color: var(--orange-cadre);
  content: "";
  display: block;
  height: 69%;
  left: var(--p2);
  position: absolute;
  top: var(--p2);
  width: 73%;
}
.colonnes-decor .image::after {
  bottom: var(--p2);
  height: 70%;
  left: unset;
  right: var(--p2);
  top: unset;
  width: 20%;
}
@media (min-width: 768px) {
  .colonnes-decor {
    column-gap: var(--gap);
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .colonnes-decor .col-texte {
    margin-bottom: 0;
  }
  .colonnes-decor .col-image {
    margin-top: calc(-1 * var(--hauteur-h1));
  }
}
@media (min-width: 1024px) {
  .colonnes-decor {
    --p:2rem;
    --gap:4.3rem;
  }
  .colonnes-decor .col-image {
    margin-left: 0;
    margin-right: var(--p2);
    max-width: unset;
  }
}