/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/


.site-footer {

	.main-footer {
		background-color: var(--blanc);
		padding: 3.5rem var(--padding-x) 1.4rem;
		position: relative;

		.logos-footer {
			display: grid;
			grid-template-columns: 1.5fr 2.5fr;
			column-gap: 2rem;
			justify-content: center;
			margin-bottom: 3rem;
		}

		.menu {
			li {
				margin-bottom: 0.4rem;
				a {
					color: var(--marron);
					font-size: 2.5rem;
					font-weight: 600;
					text-decoration: none;
					text-transform: none;
			
					&:hover,
					&:focus {
						text-decoration: underline;
					}
			
				}
				&.current-menu-item , &.current-menu-ancestor, &.current_page_parent {
					& > a {
						color:var(--rouge-texte);
					}
				}
			}
		}
		
		@include bp(sm) {
			.logos-footer {
				grid-template-columns: 139px 225px;
			}
			.colonnes-footer {
				display: grid;
				grid-template-columns: repeat(2,16rem);
				column-gap: 2rem;
				justify-content: center;

			}
		
		}

		@include bp(md) {
			display: grid;
			grid-template-columns: 39rem 1fr;
			column-gap: 2rem;
			.colonnes-footer {
				grid-template-columns: repeat(2,1fr);
			}

			.selecteur {
				grid-column: 2;
			}
		
		}
		@include bp(xl) {
			.selecteur {
				position: relative;
				right:-5rem;
			}
		}
	
	}

	


	.copyright {
		background-color: var(--rouge);
		text-align: center;
		padding:0.5rem var(--padding-x) 1rem;
		span,
		a {
			color: var(--blanc);
			display: inline-block;
			font-size: 1.6rem;
			font-weight: 600;
		}
		.sep {
			display: none;
		}
		a {
			text-decoration: none;
			&:hover, &:focus {
				text-decoration: underline;
			}
		}
		.menu {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			li {
				&::after {
					color:var(--blanc);
					content:' - ';
					margin: 0 4px;
				}
				&:last-of-type::after {
					display: none;
				}
			}
		}
		@include bp(md) {
			display: flex;
			justify-content: center;
			.menu li:last-of-type::after {
				display: inline-block;
			}
			.sep {
				display: inline-block;
				margin: 0 4px;
			}
		}
	}
}